<span>Course Name:</span>
<input type="text" [(ngModel)]="courseName" />
&nbsp;
<span>Category: </span>

<input type="text" [(ngModel)]="courseCategory" />

&nbsp;
<button (click)="add()">Add</button>
<button (click)="clear()">Clear</button>

<br>

<p *ngFor="let course of courses"> Course name: <strong> {{course.name}}</strong> --- Course category: <strong> {{course.category}}</strong>  </p>

<!-- <h3>courses</h3>
<table>
  <thead>
    <tr>
      <th>Course name</th>
    </tr>
  </thead>
  <tbody>
    <tr >selam</tr>
    <tr >selam</tr>
  </tbody>
</table> -->
