<span>Kullanıcı Adı:</span>
<input type="text" [(ngModel)] = "userName" />
&nbsp;
<span>Şifre: </span>

<input type="password" [(ngModel)] = "password" />

&nbsp;
<button (click)= "login()">Login</button>